html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
}

body.p3-theme {
    background-color: #001c29; /* Persona 3 dark blue */
    color: #c0c0c0;
  }
  
  body.p3-theme h1 {
    color: #8ab5d3; /* Persona 3 Blue */
  }
  
  body.p3-theme p {
    color: #b0b0b0;
  }
  

.banner {
    width: 100%;
    height: 200px; /* Adjust height as desired */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; /* Fallback background color */
}
  
.banner img {
    width: 100%; /* Make the image cover the full width */
  height: 100%; /* Ensure it fills the height of the container */
  object-fit: contain; /* Scale the image to fit within the banner */
}

#money {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center input fields horizontally */
    margin-bottom: 20px; /* Add space below form */
}

#money input {
    width: 200px; /* Set width for inputs */
    padding: 10px;
    margin: 5px 0;
    font-size: 1.4rem; /* Adjust font size */
    border: 1px solid #ccc;
    border-radius: 5px;
}

#selection {
    width: 900px;
    margin: 20px auto;
    background-color: var(--tab-bg);
    border: 3px solid #000;
    border-radius: 8px;
    padding: 20px;
    color: var(--text-color);
}

.tabs {
    display: flex;
    justify-content: center;
    background-color: var(--tab-bg);
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid var(--card-bg);
    margin: 0 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.tab:hover {
    background-color: var(--primary-color); /* Red highlight on active tab */
}

/* Persona Card Styles */
.card {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--card-bg);
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

.card:hover {
    background-color: var(--hover-bg);
    transform: translateY(-5px);
}


.hover-tab {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    width: 200px;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 10; 
}

.card:hover .hover-tab {
    display: block; 
}


.hover-tab img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.arcana {
    background-color: white;
    border-radius: 5%;
    width: 150px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: var(--p);
    color: var(--primary-color); 
}

.name, .level {
    font-size: var(--h2); 
    padding-left: 10px;
}

.name {
    margin-right: auto;
}

.level {
    margin-right: 5px;
}

.sort-buttons {
    align-self: center;
}